*.o
processor/abidos
processor/lexer.c
processor/nohup.out
processor/parser.c
processor/parser.h
processor/tokens.h
processor/test_out/*
processor/out.cpp
processor/out.gv
processor/out/*
processor/out_run.py
processor/test_create_mass_classes_01.pl

